.disableOutsideClicks {
  z-index: 10000;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);

  display: flex;
  justify-content: center;
  align-items: center;
}

.bigProductDiv {
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  width: 80vw;
  height: 80vh;

  border: 10px solid black;
  border-radius: 10px;

  overflow: hidden;
  background-color: white;
}

.bigProductDiv .imageAndProductDiv {
  display: flex;
  justify-content: space-between;
}

.bigProductDiv .imageDiv {
}
.bigProductDiv .imageDiv img {
  width: 300px;
  height: 300px;
}

.bigProductDiv .productAndBuyDiv {
  display: flex;
  flex-direction: column;
}

.bigProductDiv .productAndBuyDiv .titleDiv {
  color: blue;
  font-size: 32px;
}
.bigProductDiv .productAndBuyDiv .starsDiv {
  color: yellowgreen;
}
.bigProductDiv .productAndBuyDiv .descriptionDiv {
}

.bigProductDiv .productAndBuyDiv .priceDiv {
  font-size: 32px;
  display: flex;
}
.bigProductDiv .priceDiv .newPriceDiv {
  color: green;
}
.bigProductDiv .priceDiv .oldPriceDiv {
  margin-left: 10px;
  color: red;
  text-decoration-line: line-through;
}
.bigProductDiv .discountDiv {
  background-color: red;
}

.bigProductDiv .addToCartDiv {
}

.bigProductDiv .brandCategoryIdDiv {
}

.bigProductDiv .commentsDiv {
}
.bigProductDiv .commentsDiv .singleCommentDiv {
  border: 1px solid black;
}

/*  */
/*  */
/*  */
/*  */
/*  */

.productDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

  padding: 10px;
  margin: 10px;

  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.productDiv .imageDiv {
  display: flex;
  justify-content: center;
}

.productDiv .imageDiv img {
  height: 150px;
  width: 150px;
}

.productDiv .titleDiv {
  font-size: 20px;
  color: blue;
}

.productDiv .productInfoDiv {
  display: flex;
  justify-content: space-between;
}

.productDiv .productInfoDiv .categoryAndBrandDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: gray;
}

.productDiv .productInfoDiv .categoryAndBrandDiv * {
  margin: 2px;
}

.productDiv .productInfoDiv .priceDiv {
  display: flex;
  align-items: center;

  font-size: 20px;
}

.productDiv .productInfoDiv .priceDiv .oldPriceDiv {
  margin-right: 5px;

  color: gray;
  text-decoration-line: line-through;
}

.productDiv .productInfoDiv .priceDiv .currentPriceDiv {
  color: green;
}

.productDiv .discountDiv {
  position: absolute;
  top: 10px;
  right: 10px;

  font-weight: bold;
  background-color: lightcoral;
  border-radius: 3px;
}
